n8n/dev.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst contact = JSON.parse(items[0].json.contact);\n\nreturn [\n  {\n    json: {\n      contact\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1248,
        320
      ],
      "id": "5307fb24-2635-4171-b6ed-ba7809f408cc",
      "name": "Converte string do cache em json"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "contact",
        "key": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1472,
        320
      ],
      "id": "eb636021-b8c7-4c21-a2bd-61af18c7b737",
      "name": "Pega contato em cache",
      "credentials": {
        "redis": {
          "id": "8UiidfP9SlTPVZIw",
          "name": "OS Upflow Redis PRD"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ebbbb1fb-4e57-4296-89c6-5a4353f26752",
              "leftValue": "={{ $json.contact.token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1024,
        320
      ],
      "id": "34792389-d74b-4ba3-9ee5-fc52f9745374",
      "name": "If2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dbd32109-3901-440a-9e5e-f47226e380f9",
              "name": "url",
              "value": "https://497e-191-19-202-208.ngrok-free.app",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1696,
        320
      ],
      "id": "359d2e87-f2f0-4146-badf-2b2e2e6677b7",
      "name": "URL"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1696,
        512
      ],
      "id": "108d2d4e-1858-406b-9a2b-b84e6416c33e",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "wa_id_error",
        "value": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1696,
        128
      ],
      "id": "38b6c209-2162-43d5-a6a0-a142c532b695",
      "name": "Salva wa_id para erros",
      "credentials": {
        "redis": {
          "id": "8UiidfP9SlTPVZIw",
          "name": "OS Upflow Redis PRD"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b7c3e1bc-512f-48ec-b239-fefbd2375a01",
              "leftValue": "={{ $json.messages }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1920,
        320
      ],
      "id": "b453ad87-d45a-463d-8031-39c626dc51e9",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## Ajustes para DEV",
        "height": 256,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2384,
        224
      ],
      "id": "46bd5c71-152c-4f3b-9b9f-6572cb83527f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Olá, como posso te ajudar com suas ordens de serviço hoje ?",
        "options": {
          "inputPlaceholder": "Escreva...",
          "subtitle": "Controle total das ordens com uma simples conversa",
          "title": "OS Upflow",
          "customCss": ":root {\n  /* Colors */\n  --chat--color--primary: black;\n  --chat--color--primary-shade-50: #db4061;\n  --chat--color--primary--shade-100: #cf3c5c;\n  --chat--color--secondary: #20b69e;\n  --chat--color-secondary-shade-50: #1ca08a;\n  --chat--color-white: #fff;\n  --chat--color-light: #f2f4f8;\n  --chat--color-light-shade-50: #e6e9f1;\n  --chat--color-light-shade-100: #c2c5cc;\n  --chat--color-medium: #d2d4d9;\n  --chat--color-dark: black;\n  --chat--color-disabled: #d2d4d9;\n  --chat--color-typing: #404040;\n\n  /* Base Layout */\n  --chat--spacing: 1rem;\n  --chat--border-radius: 0.25rem;\n  --chat--transition-duration: 0.15s;\n  --chat--font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;\n\n  /* Window Dimensions */\n  --chat--window--width: 400px;\n  --chat--window--height: 600px;\n  --chat--window--bottom: var(--chat--spacing);\n  --chat--window--right: var(--chat--spacing);\n  --chat--window--z-index: 9999;\n  --chat--window--border: 1px solid var(--chat--color-light-shade-50);\n  --chat--window--border-radius: var(--chat--border-radius);\n  --chat--window--margin-bottom: var(--chat--spacing);\n\n  /* Header Styles */\n  --chat--header-height: auto;\n  --chat--header--padding: var(--chat--spacing);\n  --chat--header--background: var(--chat--color-dark);\n  --chat--header--color: var(--chat--color-light);\n  --chat--header--border-top: none;\n  --chat--header--border-bottom: none;\n  --chat--header--border-left: none;\n  --chat--header--border-right: none;\n  --chat--heading--font-size: 2em;\n  --chat--subtitle--font-size: inherit;\n  --chat--subtitle--line-height: 1.8;\n\n  /* Message Styles */\n  --chat--message--font-size: 1rem;\n  --chat--message--padding: var(--chat--spacing);\n  --chat--message--border-radius: var(--chat--border-radius);\n  --chat--message-line-height: 1.5;\n  --chat--message--margin-bottom: calc(var(--chat--spacing) * 1);\n  --chat--message--bot--background: var(--chat--color-white);\n  --chat--message--bot--color: var(--chat--color-dark);\n  --chat--message--bot--border: none;\n  --chat--message--user--background: var(--chat--color--secondary);\n  --chat--message--user--color: var(--chat--color-white);\n  --chat--message--user--border: none;\n  --chat--message--pre--background: rgba(0, 0, 0, 0.05);\n  --chat--messages-list--padding: var(--chat--spacing);\n\n  /* Toggle Button */\n  --chat--toggle--size: 64px;\n  --chat--toggle--width: var(--chat--toggle--size);\n  --chat--toggle--height: var(--chat--toggle--size);\n  --chat--toggle--border-radius: 50%;\n  --chat--toggle--background: var(--chat--color--primary);\n  --chat--toggle--hover--background: var(--chat--color--primary-shade-50);\n  --chat--toggle--active--background: var(--chat--color--primary--shade-100);\n  --chat--toggle--color: var(--chat--color-white);\n\n  /* Input Area */\n  --chat--textarea--height: 50px;\n  --chat--textarea--max-height: 30rem;\n  --chat--input--font-size: inherit;\n  --chat--input--border: 0;\n  --chat--input--border-radius: 0;\n  --chat--input--padding: 0.8rem;\n  --chat--input--background: var(--chat--color-white);\n  --chat--input--text-color: initial;\n  --chat--input--line-height: 1.5;\n  --chat--input--placeholder--font-size: var(--chat--input--font-size);\n  --chat--input--border-active: 0;\n  --chat--input--left--panel--width: 2rem;\n\n  /* Button Styles */\n  --chat--button--padding: calc(var(--chat--spacing) * 5 / 8) var(--chat--spacing);\n  --chat--button--border-radius: var(--chat--border-radius);\n  --chat--button--font-size: 1rem;\n  --chat--button--line-height: 1;\n  --chat--button--color--primary: var(--chat--color-light);\n  --chat--button--background--primary: var(--chat--color--secondary);\n  --chat--button--border--primary: none;\n  --chat--button--color--primary--hover: var(--chat--color-light);\n  --chat--button--background--primary--hover: var(--chat--color-secondary-shade-50);\n  --chat--button--border--primary--hover: none;\n  --chat--button--color--primary--disabled: var(--chat--color-light);\n  --chat--button--background--primary--disabled: #81bbb1;\n  --chat--button--border--primary--disabled: none;\n  --chat--button--color--secondary: var(--chat--color-light);\n  --chat--button--background--secondary: hsl(0, 0%, 58%);\n  --chat--button--border--secondary: none;\n  --chat--button--color--secondary--hover: var(--chat--color-light);\n  --chat--button--background--secondary--hover: hsl(0, 0%, 51%);\n  --chat--button--border--secondary--hover: none;\n  --chat--button--color--secondary--disabled: var(--chat--color-light);\n  --chat--button--background--secondary--disabled: hsl(0, 0%, 78%);\n  --chat--button--border--secondary--disabled: none;\n  --chat--close--button--color-hover: var(--chat--color--primary);\n\n  /* Send and File Buttons */\n  --chat--input--send--button--background: var(--chat--color-white);\n  --chat--input--send--button--color: var(--chat--color--secondary);\n  --chat--input--send--button--background-hover: var(--chat--color--primary-shade-50);\n  --chat--input--send--button--color-hover: var(--chat--color-secondary-shade-50);\n  --chat--input--file--button--background: var(--chat--color-white);\n  --chat--input--file--button--color: var(--chat--color--secondary);\n  --chat--input--file--button--background-hover: var(--chat--input--file--button--background);\n  --chat--input--file--button--color-hover: var(--chat--color-secondary-shade-50);\n  --chat--files-spacing: 0.25rem;\n\n  /* Body and Footer */\n  --chat--body--background: var(--chat--color-light);\n  --chat--footer--background: var(--chat--color-light);\n  --chat--footer--color: var(--chat--color-dark);\n}\n\n\n/* You can override any class styles, too. Right-click inspect in Chat UI to find class to override. */\n.chat-message {\n\tmax-width: 50%;\n}",
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -2368,
        320
      ],
      "id": "398c2af3-1705-4cd4-89c1-a6695a32ee0f",
      "name": "When chat message received",
      "webhookId": "61c587d0-22eb-4a4d-b0fd-18a32f8c4194"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('URL').item.json.url }}/api/auth/sign-in/email",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "bot@osupflow.com"
            },
            {
              "name": "password",
              "value": "8V292fC56xJ0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -800,
        224
      ],
      "id": "2e8cf7d0-299c-4aa1-a38f-407b5b501dcb",
      "name": "Autenticação"
    },
    {
      "parameters": {
        "url": "={{ $('URL').item.json.url }}/api/n8n/contact/{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id.replace(/^55/, \"\") }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $json.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -576,
        224
      ],
      "id": "1c9637c2-ab50-46e4-9da7-b0244fe2d470",
      "name": "Busca contato",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "value": "={\n  \"token\": \"{{ $('Autenticação').item.json.token }}\",\n  \"contactId\": \"{{ $json.id }}\"\n}",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -128,
        320
      ],
      "id": "5fe25d6f-ce05-4fb2-b943-716e45a7f0b3",
      "name": "Salva contato em cache",
      "credentials": {
        "redis": {
          "id": "8UiidfP9SlTPVZIw",
          "name": "OS Upflow Redis PRD"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db62fc09-6523-48fc-b3a1-0986f9448b88",
              "name": "=token",
              "value": "={{ $('Autenticação').item.json.token }}",
              "type": "string"
            },
            {
              "id": "a020bb75-5bc1-4d7d-bb34-4612512c60d9",
              "name": "",
              "value": "",
              "type": "string"
            },
            {
              "id": "16b45a79-b72e-4034-aff5-5c9cd2f85d4b",
              "name": "contactId",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        320
      ],
      "id": "26be86ac-779e-4363-afa4-e31a02a0c287",
      "name": "Mapeia saida sem cache"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0927dece-d6d2-46b4-b925-1a43ea237ffe",
              "leftValue": "={{ $json.id }}",
              "rightValue": "={{ 0 }}",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -352,
        224
      ],
      "id": "359f5056-5f6e-4756-800e-9d8252a9f127",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -2368,
        784
      ],
      "id": "756397ce-96fa-4654-b049-03d8982d96f1",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "wa_id",
        "key": "wa_id_error",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2144,
        784
      ],
      "id": "1b7a78e0-ed3f-441b-87d9-6f053f80641c",
      "name": "Pega wa_id",
      "credentials": {
        "redis": {
          "id": "8UiidfP9SlTPVZIw",
          "name": "OS Upflow Redis PRD"
        }
      }
    },
    {
      "parameters": {
        "message": "Identificamos uma instabilidade temporária no sistema. Nossa equipe já está trabalhando para normalizar o serviço. Por favor, tente novamente mais tarde.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.2,
      "position": [
        -1920,
        784
      ],
      "id": "5054d949-5167-42dd-81ec-c4634767e25d",
      "name": "Chat",
      "webhookId": "89d7342e-7909-4083-8456-a4b3db4cbd61"
    },
    {
      "parameters": {
        "content": "## Ajustes para DEV",
        "height": 240,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2000,
        704
      ],
      "id": "3ebdbadf-dbbf-4593-b819-cc95187492ac",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "message": "Este número não está cadastrado no sistema. Por favor, solicite ao responsável pelo sistema que realize o cadastro para continuar.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.2,
      "position": [
        -128,
        128
      ],
      "id": "35e72e36-fce6-4ae5-a626-b8a6a2091f2b",
      "name": "Chat1",
      "webhookId": "89d7342e-7909-4083-8456-a4b3db4cbd61"
    },
    {
      "parameters": {
        "content": "## Ajustes para DEV",
        "height": 240,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        48
      ],
      "id": "3509fbd7-d30c-4323-9eab-ed6252a63555",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "db54980e-d353-42f3-b6aa-1024e47cc6e2",
                    "leftValue": "={{ $('WhatsApp Trigger').first().json.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1ec818c5-17ea-4b16-bfe1-f018cb11d2b6",
                    "leftValue": "={{ $('WhatsApp Trigger').first().json.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        560,
        416
      ],
      "id": "3b681111-db69-4274-a4a7-96ad582ad5d7",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db62fc09-6523-48fc-b3a1-0986f9448b88",
              "name": "=token",
              "value": "={{ $('Converte string do cache em json').item.json.contact.token }}",
              "type": "string"
            },
            {
              "id": "a020bb75-5bc1-4d7d-bb34-4612512c60d9",
              "name": "",
              "value": "",
              "type": "string"
            },
            {
              "id": "16b45a79-b72e-4034-aff5-5c9cd2f85d4b",
              "name": "contactId",
              "value": "={{ $('Converte string do cache em json').item.json.contact.contactId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        512
      ],
      "id": "796ed2f6-fa06-4a40-8ab1-1815f4850eb2",
      "name": "Mapeia saida com cache"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db62fc09-6523-48fc-b3a1-0986f9448b88",
              "name": "=token",
              "value": "={{ $json.token }}",
              "type": "string"
            },
            {
              "id": "a020bb75-5bc1-4d7d-bb34-4612512c60d9",
              "name": "",
              "value": "",
              "type": "string"
            },
            {
              "id": "16b45a79-b72e-4034-aff5-5c9cd2f85d4b",
              "name": "contactId",
              "value": "={{ $json.contactId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        416
      ],
      "id": "268e2ba3-28b5-4372-8389-57783bb1b298",
      "name": "Mapeia saida da autenticação"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae1d93b9-d00a-4115-a2ac-5876ed210c4c",
              "name": "text",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "90ef412c-eef5-412a-a937-737fb55be3a9",
              "name": "token",
              "value": "={{ $json.token }}",
              "type": "string"
            },
            {
              "id": "dabfb4be-a830-4983-a205-16aacec26bbe",
              "name": "contactId",
              "value": "={{ $json.contactId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        208
      ],
      "id": "1143b8bf-350b-4e62-bbe0-95a39968fe4e",
      "name": "Mapeia saida"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1680,
        352
      ],
      "id": "ec3fc9b1-e716-4c63-bac0-1c9fc25e23f8",
      "name": "Wait",
      "webhookId": "14be1bad-0872-4de5-8cce-91b17575a211",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=list-{{ $json.contactId }}",
        "messageData": "={{ $json.content }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1456,
        352
      ],
      "id": "a673c7ad-adef-4ce3-b69c-1a0f9c5165ac",
      "name": "Salva mensagem na lista de mensagens",
      "credentials": {
        "redis": {
          "id": "8UiidfP9SlTPVZIw",
          "name": "OS Upflow Redis PRD"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "=list-{{ $json.contactId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1904,
        352
      ],
      "id": "706e5007-62a8-479a-b77f-88b6a62c4a18",
      "name": "Pega lista de mensagens",
      "credentials": {
        "redis": {
          "id": "8UiidfP9SlTPVZIw",
          "name": "OS Upflow Redis PRD"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a749dc3b-6343-440c-af54-f53fa64651bf",
              "leftValue": "={{ $json.messages.last() }}",
              "rightValue": "={{ $('Wait').item.json.content }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2128,
        352
      ],
      "id": "8d65c4b7-4447-4198-a5d7-691e6cd2fb5f",
      "name": "If3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        784,
        560
      ],
      "id": "e230da8f-2a45-4a93-a9eb-fcb786d25eb6",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "content": "## Ajustes para DEV",
        "height": 240,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        688,
        480
      ],
      "id": "822da6cf-c01b-4918-b6c4-40fb2e0e61ca",
      "name": "Sticky Note3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2352,
        352
      ],
      "id": "a85f6fad-3217-4f81-9d99-cd8201db88b8",
      "name": "Ignora"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2b78aba-aa58-4bbd-a9bb-8eb9a52d7294",
              "name": "message",
              "value": "={{ $json.messages.join(\" \") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2352,
        160
      ],
      "id": "2343c83e-fea6-47ca-8258-3596d9a18a0a",
      "name": "Agrupa mensagens"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=list-{{ $('Wait').item.json.contactId }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2576,
        160
      ],
      "id": "4e5d7a32-2a1f-4a77-8aaa-9993f845a291",
      "name": "Deleta lista de mensagens",
      "credentials": {
        "redis": {
          "id": "8UiidfP9SlTPVZIw",
          "name": "OS Upflow Redis PRD"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2800,
        384
      ],
      "id": "5b96a6d7-bc85-4e5b-ae18-efd88474db1b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "2a2I0D8wf2kDO7jg",
          "name": "OS Upflow OpenAi dev"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=## Assistente OS Upflow\n\nVocê é o assistente do **OS Upflow**, um sistema de gestão de ordens de serviço para oficinas.\nSua função é ajudar o usuário a interagir com ordens de serviço através de conversa.\n\n---\n\n### Uso de ferramentas (tools)\n\nUtilize tools sempre que necessário para executar ações:\n\n- Criar ordem de serviço  \n- Consultar ordens de serviço  \n- Atualizar ordens de serviço  \n\n---\n\n### Regras gerais\n\n- Nunca inventar dados  \n- Nunca assumir informações não fornecidas  \n- Quando faltar informação, perguntar ao usuário antes de usar qualquer tool  \n- Executar apenas o que o usuário solicitar  \n- Não sugerir ações ou próximos passos  \n- Ser direto e objetivo  \n\n---\n\n### Interpretação de datas\n\n- Considerar sempre a data atual automaticamente\n- \"hoje\" = data atual\n- \"ontem\" = data atual - 1 dia\n- \"amanhã\" = data atual + 1 dia\n\n- Quando o usuário usar termos relativos (hoje, ontem, etc), converter para uma data real no formato ISO antes de usar a tool\n\n- NÃO pedir a data ao usuário nesses casos\n\n---\n\n### Tomada de decisão\n\n- Se a intenção do usuário for clara → chamar a tool apropriada  \n- Se faltar informação → solicitar ao usuário  \n- Se a ação não for clara → responder normalmente (sem usar tool)  \n- Se for conversa comum → responder normalmente (sem usar tool)  \n\n---\n\n### Prioridade\n\n- Sempre priorizar o uso das tools para ações reais  \n- Não depender de memória quando uma tool puder ser utilizada  \n- Garantir que as respostas reflitam dados reais retornados pelas tools  \n\n---\n\n### Comportamento esperado\n\n- Agir como um sistema operacional, não como um assistente opinativo  \n- Não explicar regras internas  \n- Não justificar decisões  \n- Apenas executar ou solicitar informações quando necessário  "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2976,
        160
      ],
      "id": "8ab47f93-a8da-40a8-818a-a159824c17bb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "toolDescription": "=## Criação de Ordem de Serviço\n\nUse esta tool quando o usuário quiser:\n- criar uma nova ordem de serviço\n- abrir uma OS\n- registrar um novo serviço\n\n### Campos obrigatórios\n- `description`: descrição do serviço\n- `clientName`: nome do cliente\n- `clientCPF`: cpf do cliente\n- `clientPhone`: telefone do cliente\n- `vehicleModel`: modelo do veiculo\n- `vehicleBrand`: marca do veiculo\n- `vehicleYear`: ano do veiculo\n- `vehiclePlate`: placa do veiculo\n- `vehicleType`: tipo do veiculo\n  - carro\n  - moto\n- `vehicleEngine`: motorização do veiculo  \n\n### Regras importantes\n- NUNCA criar a ordem sem confirmação do usuário  \n- Se faltar qualquer campo, solicitar ao usuário antes de prosseguir  \n- NÃO inventar dados  \n- Usar exatamente as informações fornecidas pelo usuário  \n- O campo `vehicleType` deve ser inferido automaticamente com base no veículo\n- NÃO perguntar ao usuário o tipo do veículo\n- Classificação:\n  - carro → veículos de passeio (Gol, Uno, Corolla, etc)\n  - moto → motocicletas (CG, XRE, etc)\n- Se não for possível identificar com segurança, solicitar ao usuário\n\n### Fluxo obrigatório\n\n1. Coletar todos os dados necessários  \n2. Exibir o resumo para confirmação  \n3. Perguntar algo como: **\"Confirma a criação da ordem?\"**  \n4. Só após confirmação, chamar a tool  \n\n### Resumo para confirmação (obrigatório)\n```\nServiço: {{ json.description }} \n\nCliente\n━━━━━━━━━━━━━━━\n{{ json.clientName }}  \nCPF: {{ json.clientCPF }}  \nTel: {{ json.clientPhone }} \n\nVeículo\n━━━━━━━━━━━━━━━\n{{ json.vehicleBrand }} {{ json.vehicleModel }} ({{ json.vehicleYear }})  \n{{ json.vehicleType }} • {{ json.vehicleEngine }}  \nPlaca: {{ json.vehiclePlate }}  \n```\n\n\n### Regras de saída\n- Nunca pular a etapa de confirmação  \n- Nunca criar sem resposta explícita do usuário  \n- Manter exatamente o formato do resumo  \n",
        "method": "POST",
        "url": "={{ $('URL').first().json.url }}/api/n8n/order/{{ $('Mapeia saida').item.json.contactId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $('Mapeia saida').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        3056,
        384
      ],
      "id": "042a5cff-4f98-406a-be6d-d0261e292a03",
      "name": "create_order"
    },
    {
      "parameters": {
        "toolDescription": "=## Atualização de Ordem de Serviço\n\nUse esta tool quando o usuário quiser:\n- atualizar uma ordem\n- modificar informações da ordem\n- alterar status da ordem\n- encerrar uma ordem\n- cancelar uma ordem\n- editar cliente, veículo ou descrição\n\n### Campos disponíveis\n- `number` (obrigatório): número da ordem  \n- `status`: situação do serviço\n  - 1 = aberta  \n  - 2 = em andamento  \n  - 3 = concluída  \n  - 4 = cancelada \n- `description`: descrição do serviço\n- `clientName`: nome do cliente\n- `clientCPF`: cpf do cliente\n- `clientPhone`: telefone do cliente\n- `vehicleModel`: modelo do veiculo\n- `vehicleBrand`: marca do veiculo\n- `vehicleYear`: ano do veiculo\n- `vehiclePlate`: placa do veiculo\n- `vehicleType`: tipo do veiculo\n  - carro\n  - moto\n- `vehicleEngine`: motorização do veiculo \n\n### Regras importantes\n- `number` é sempre obrigatório  \n- NÃO executar a ação sem o número da ordem  \n- Atualizar apenas os campos mencionados pelo usuário  \n- NÃO inventar dados  \n- NÃO sobrescrever campos não informados  \n- SEMPRE solicitar confirmação antes de atualizar  \n\n### Fluxo obrigatório\n\n1. Verificar se o `number` foi informado  \n2. Se não foi, solicitar ao usuário  \n3. Identificar os campos que serão atualizados  \n4. Exibir resumo da atualização  \n5. Perguntar: **\"Confirma a atualização da ordem?\"**  \n6. Só após confirmação, executar a tool  \n\n### Resumo para confirmação (obrigatório)\n```\n━━━━━━━━━━━━━━━\nOrdem #{{ json.number }}\n━━━━━━━━━━━━━━━\n{{ #if json.status }} Situação: {{ json.status }} {{ /if }}  \n{{ #if json.description }} Serviço: {{ json.description }} {{ /if }}  \n{{ #if json.clientName }} Cliente: {{ json.clientName }} {{ /if }}  \n{{ #if json.clientCPF }} CPF: {{ json.clientCPF }} {{ /if }}  \n{{ #if json.clientPhone }} Telefone: {{ json.clientPhone }} {{ /if }}  \n{{ #if json.vehicleModel }} Modelo: {{ json.vehicleModel }} {{ /if }}  \n{{ #if json.vehicleBrand }} Marca: {{ json.vehicleBrand }} {{ /if }}  \n{{ #if json.vehicleYear }} Ano: {{ json.vehicleYear }} {{ /if }}  \n{{ #if json.vehiclePlate }} Placa: {{ json.vehiclePlate }} {{ /if }}  \n{{ #if json.vehicleType }} Tipo: {{ json.vehicleType }} {{ /if }}  \n{{ #if json.vehicleEngine }} Motor: {{ json.vehicleEngine }} {{ /if }}  \n```\n\n### Regras de saída\n- Nunca executar sem confirmação explícita do usuário  \n- Enviar apenas os campos que serão atualizados  \n- Garantir que o `number` esteja presente na requisição  \n- Manter exatamente o formato do resumo  \n",
        "method": "PATCH",
        "url": "={{ $('URL').first().json.url }}/api/n8n/order/{{ $('Mapeia saida').item.json.contactId }}/{{ $json.number }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $('Mapeia saida').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        3312,
        384
      ],
      "id": "de9a9e46-6f5a-4547-a138-f9d66cbc2907",
      "name": "update_order",
      "notesInFlow": false
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=openIA-{{ $json.contactId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        2928,
        384
      ],
      "id": "c4b20e9f-c254-4453-be04-2a16455fcdd0",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "8UiidfP9SlTPVZIw",
          "name": "OS Upflow Redis PRD"
        }
      }
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.2,
      "position": [
        3520,
        160
      ],
      "id": "c5c84c6c-2192-421d-b1eb-909ae7fc5c30",
      "name": "Chat2",
      "webhookId": "a2f60757-5a90-4ad9-87a0-2b444fdc9001"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('URL').first().json.url }}/api/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contactId",
              "value": "={{ $json.contactId }}"
            },
            {
              "name": "direction",
              "value": "out"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "content",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1232,
        352
      ],
      "id": "05e1305b-5c34-41a5-8877-b1fda7a39977",
      "name": "Salva mensagem enviada pelo usuario"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('URL').first().json.url }}/api/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $('Mapeia saida da autenticação').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contactId",
              "value": "={{ $('Mapeia saida da autenticação').item.json.contactId }}"
            },
            {
              "name": "direction",
              "value": "in"
            },
            {
              "name": "type",
              "value": "=text"
            },
            {
              "name": "content",
              "value": "={{ $('AI Agent').item.json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3744,
        160
      ],
      "id": "3fac3e8d-af7c-47d1-a7e2-bf595cc1b624",
      "name": "Salva mensagem enviada pelo bot"
    },
    {
      "parameters": {
        "content": "## Ajustes para DEV",
        "height": 240,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3424,
        80
      ],
      "id": "f4402716-eeb2-4b90-b5f0-531e7071f774",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Ajustes para DEV",
        "height": 240,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1584,
        272
      ],
      "id": "922665ea-beb4-4076-ab5c-7b8deac76a4f",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.messages = [ { text: { body: item.json.chatInput }, type: \"text\" } ];\n  item.json.contacts = [ { wa_id: \"11912372570\" } ];\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2144,
        320
      ],
      "id": "3a69d752-0587-4f1d-97dc-0375041f776f",
      "name": "WhatsApp Trigger"
    },
    {
      "parameters": {
        "toolDescription": "=## Consulta de Ordens de Serviço\n\nUse esta tool quando o usuário quiser:\n- listar ordens\n- buscar ordens\n- consultar uma ordem específica\n- verificar status de ordens\n\n### Filtros opcionais\nUse apenas se o usuário informar:\n- `number`: número da ordem  \n- `status`: situação do serviço\n  - 1 = aberta  \n  - 2 = em andamento  \n  - 3 = concluída  \n  - 4 = cancelada \n- `description`: descrição do serviço\n- `createdAt`: data de criação da ordem\n- `clientName`: nome do cliente\n- `clientCPF`: cpf do cliente\n- `clientPhone`: telefone do cliente\n- `vehicleModel`: modelo do veiculo\n- `vehicleBrand`: marca do veiculo\n- `vehicleYear`: ano do veiculo\n- `vehiclePlate`: placa do veiculo\n- `vehicleType`: tipo do veiculo\n  - carro\n  - moto\n- `vehicleEngine`: motorização do veiculo \n\n### Regras importantes\n- NÃO inventar filtros  \n- NÃO enviar campos vazios  \n- Se nenhum filtro for informado, retornar todas as ordens  \n- Combinar filtros apenas quando fizer sentido  \n\n### Formatação da resposta (obrigatória)\n\nPara cada ordem retornada, exibir:  \n```\n########## ORDEM {{ json.number }} ##########\nStatus: {{\n  { \n    1: 'Aberta', \n    2: 'Em andamento', \n    3: 'Concluída', \n    4: 'Cancelada' \n  }[json.status] || 'Desconhecida'\n}}\nServiço: {{ json.description }}\nData: {{\n  new Date(json.createdAt).toLocaleString('pt-BR', {\n    day: '2-digit',\n    month: '2-digit',\n    year: 'numeric',\n    hour: '2-digit',\n    minute: '2-digit'\n  }).replace(',', ' -')\n}}\n\n--- CLIENTE ---\nNome: {{ json.clientName }}\nCPF: {{ json.clientCPF }}\nTel: {{ json.clientPhone }}\n\n--- VEÍCULO ---\n{{ json.vehicleBrand }} {{ json.vehicleModel }} ({{ json.vehicleYear }})\n{{ json.vehicleType }} • {{ json.vehicleEngine }}\nPlaca: {{ json.vehiclePlate }}\n############################################\n```\n\n### Regras de saída\n- Sempre listar TODAS as ordens retornadas  \n- Nunca resumir ou omitir resultados  \n- Manter exatamente esse formato  \n",
        "url": "={{ $('URL').first().json.url }}/api/n8n/order/{{ $('Mapeia saida').item.json.contactId }}",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"number\": \"{{ $json.number }}\",\n  \"status\": \"{{ $json.status }}\",\n  \"client\": \"{{ $json.client }}\"\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $('Mapeia saida').item.json.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        3184,
        384
      ],
      "id": "8547e7f7-f732-464c-83bf-e3a4c41fa3e8",
      "name": "read_order",
      "notesInFlow": false
    }
  ],
  "connections": {
    "Converte string do cache em json": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega contato em cache": {
      "main": [
        [
          {
            "node": "Converte string do cache em json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Autenticação",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mapeia saida com cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL": {
      "main": [
        [
          {
            "node": "Pega contato em cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "URL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salva wa_id para erros",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "WhatsApp Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Autenticação": {
      "main": [
        [
          {
            "node": "Busca contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca contato": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva contato em cache": {
      "main": [
        [
          {
            "node": "Mapeia saida sem cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapeia saida sem cache": {
      "main": [
        [
          {
            "node": "Mapeia saida da autenticação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Chat1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Salva contato em cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Pega wa_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega wa_id": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Mapeia saida",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salva mensagem enviada pelo usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapeia saida com cache": {
      "main": [
        [
          {
            "node": "Mapeia saida da autenticação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapeia saida da autenticação": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapeia saida": {
      "main": [
        [
          {
            "node": "Salva mensagem enviada pelo usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Pega lista de mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva mensagem na lista de mensagens": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega lista de mensagens": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Agrupa mensagens",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "Mapeia saida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupa mensagens": {
      "main": [
        [
          {
            "node": "Deleta lista de mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deleta lista de mensagens": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Chat2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_order": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "update_order": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat2": {
      "main": [
        [
          {
            "node": "Salva mensagem enviada pelo bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva mensagem enviada pelo usuario": {
      "main": [
        [
          {
            "node": "Salva mensagem na lista de mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read_order": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7b5c3f935d9d03d02d3024aa3bee7513f880b872fe648a5085d2d733cd52cbcc"
  }
}