n8n/fluxo.json
{
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0927dece-d6d2-46b4-b925-1a43ea237ffe",
              "leftValue": "={{ $json.data }}",
              "rightValue": "={{ 0 }}",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3280,
        736
      ],
      "id": "88053aec-c11b-4744-a9c7-1cb9c5ccf814",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.target }}",
                    "rightValue": "user",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "66400595-2f83-43a0-b269-992458e7965c"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "819697a3-ed9e-43ca-9b15-8a7811f975ef",
                    "leftValue": "={{ $json.target }}",
                    "rightValue": "backend",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        880,
        1024
      ],
      "id": "6ce926d6-a1a0-4390-96e8-cecff3170988",
      "name": "Switch entre user e backend"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Converte resposta em JSON').item.json.content.action }}",
                    "rightValue": "create",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "66400595-2f83-43a0-b269-992458e7965c"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a4630243-cdf5-425e-8032-e282769316e4",
                    "leftValue": "={{ $('Converte resposta em JSON').item.json.content.action }}",
                    "rightValue": "read",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b1ca722c-de8a-4907-83ef-f99be3f80c50",
                    "leftValue": "={{ $('Converte resposta em JSON').item.json.content.action }}",
                    "rightValue": "update",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1328,
        1120
      ],
      "id": "9dd1fb43-d901-4fd1-ab8e-55846605dece",
      "name": "Switch entre verbos"
    },
    {
      "parameters": {
        "url": "={{ $('URL').first().json.url }}/api/order/n8n/{{ $('Mapeia saida da autenticação').item.json.contactId }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "={{ $json.key }}",
              "value": "={{ $json.value }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $('Mapeia saida da autenticação').item.json.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1776,
        1136
      ],
      "id": "ba3a9bb4-1c1e-4439-805a-ff139789ae25",
      "name": "Busca ordens",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  const payload = item.json.content?.payload || {};\n\n  if (!payload || Object.keys(payload).length === 0) {\n    output.push({\n      json: {\n        key: \"status\",\n        value: \"1\",\n      },\n    });\n    continue;\n  }\n\n  for (const [key, value] of Object.entries(payload)) {\n    output.push({\n      json: {\n        key,\n        value,\n      },\n    });\n  }\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        1136
      ],
      "id": "23e8be62-0594-4e07-b6e6-fdd909caa34e",
      "name": "Converte json em keys e values"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('URL').first().json.url }}/api/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $('Mapeia saida da autenticação').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contactId",
              "value": "={{ $('Mapeia saida da autenticação').item.json.contactId }}"
            },
            {
              "name": "direction",
              "value": "in"
            },
            {
              "name": "type",
              "value": "=text"
            },
            {
              "name": "content",
              "value": "={{ $('Converte saída das ordens').item.json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2448,
        1136
      ],
      "id": "990aa9eb-b8b3-4fc5-9315-5bd15803925f",
      "name": "Salva mensagem enviada pelo bot7"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst STATUS_LABEL = {\n  1: 'Aberta',\n  2: 'Em andamento',\n  3: 'Concluída',\n  4: 'Cancelada',\n};\n\n// const orders = items[0].json.data || []\nconst orders = items[0].json.data?.orders || [];\n\nfunction formatDate(dateString) {\n  if (!dateString) return '-';\n\n  const date = new Date(dateString);\n\n  if (isNaN(date)) return dateString;\n\n  return date.toLocaleString('pt-BR', {\n    day: '2-digit',\n    month: '2-digit',\n    year: 'numeric',\n    hour: '2-digit',\n    minute: '2-digit',\n  });\n}\n\nif (!orders.length) {\n  return [\n    {\n      json: {\n        message:\n          'Não encontrei nenhuma ordem de serviço. Como posso te ajudar?',\n      },\n    },\n  ];\n}\n\nlet message = '*Suas ordens de serviço*\\n\\n';\n\nfor (const order of orders) {\n  // const order = item.json;\n  const statusTraduzido =\n    STATUS_LABEL[order.status] ?? order.status ?? '-';\n\n  const dataFormatada = formatDate(order.createdAt);\n\n  message +=\n    '━━━━━━━━━━━━━━━\\n' +\n    `🔢 Número: #${order.number ?? '-'}\\n` +\n    `📌 Situação: ${statusTraduzido}\\n` +\n    `👤 Cliente: ${order.client ?? '-'}\\n` +\n    `🚗 Veículo: ${order.vehicle ?? '-'}\\n` +\n    `🛠️ Serviço: ${order.description ?? '-'}\\n` +\n    `📅 Criada em: ${dataFormatada}\\n`;\n}\n\nmessage += '━━━━━━━━━━━━━━━';\n\nreturn [\n  {\n    json: {\n      message,\n      total: orders.length,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        1136
      ],
      "id": "d3fa5b47-6d12-439b-95d9-952fe7862f7e",
      "name": "Converte saída das ordens"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('URL').item.json.url }}/api/auth/signin ",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cnpj",
              "value": "41925661000105"
            },
            {
              "name": "username",
              "value": "Amoreira"
            },
            {
              "name": "password",
              "value": "Alex15092901"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3728,
        736
      ],
      "id": "72179a9c-75b3-4078-b9ff-dae6316e6bf9",
      "name": "Autenticação"
    },
    {
      "parameters": {
        "url": "={{ $('URL').item.json.url }}/api/contact",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id.replace(/^55/, \"\") }}"
            },
            {
              "name": "all",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $json.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3504,
        736
      ],
      "id": "0f5b0f97-6a02-4779-905e-0868a68d25b8",
      "name": "Busca contato",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "971608699376307",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').first().json.contacts[0].wa_id }}",
        "textBody": "Este número não está cadastrado no sistema. Por favor, solicite ao responsável pelo sistema que realize o cadastro para continuar.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -3056,
        640
      ],
      "id": "eb3d2aa1-03a4-46ae-a378-c5807cc77da2",
      "name": "Send message",
      "webhookId": "e9489b06-d3b3-42b6-abe1-eee11930f885",
      "credentials": {
        "whatsAppApi": {
          "id": "wMu4rhmUiwnXSZYx",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "971608699376307",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').first().json.contacts[0].wa_id }}",
        "textBody": "={{ $json.content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1104,
        928
      ],
      "id": "eedaae68-b7b0-41a9-804c-56af05c14efa",
      "name": "Send message2",
      "webhookId": "e9489b06-d3b3-42b6-abe1-eee11930f885",
      "credentials": {
        "whatsAppApi": {
          "id": "wMu4rhmUiwnXSZYx",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "971608699376307",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').first().json.contacts[0].wa_id }}",
        "textBody": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        2224,
        1136
      ],
      "id": "50687fc2-a472-47be-9326-14b4b27a557d",
      "name": "Send message5",
      "webhookId": "e9489b06-d3b3-42b6-abe1-eee11930f885",
      "credentials": {
        "whatsAppApi": {
          "id": "wMu4rhmUiwnXSZYx",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].interactive.button_reply.id }}",
                    "rightValue": "confirmarPOST",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "30ae87fc-ed35-418c-9820-81f6e225f949"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "98cfc0e7-d4f0-42d4-bc33-1049c48d68b3",
                    "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].interactive.button_reply.id }}",
                    "rightValue": "confirmarPATCH",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e340f92f-ff18-4dad-819c-1b09439ca5e5",
                    "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].interactive.button_reply.id }}",
                    "rightValue": "cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1488,
        672
      ],
      "id": "85c6f4d7-d236-4b00-bba8-3aa4ff784da1",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('URL').first().json.url }}/api/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $('Mapeia saida da autenticação').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contactId",
              "value": "={{ $('Mapeia saida da autenticação').item.json.contactId }}"
            },
            {
              "name": "direction",
              "value": "in"
            },
            {
              "name": "type",
              "value": "=text"
            },
            {
              "name": "content",
              "value": "=Ordem #{{ $('Criar Ordem de Serviço').item.json.number }} criada com sucesso!"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -816,
        496
      ],
      "id": "f5427b61-9217-48fe-b057-dffaeafc70f4",
      "name": "Salva mensagem enviada pelo bot16"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('URL').first().json.url }}/api/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $('Mapeia saida da autenticação').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contactId",
              "value": "={{ $('Mapeia saida da autenticação').item.json.contactId }}"
            },
            {
              "name": "direction",
              "value": "in"
            },
            {
              "name": "type",
              "value": "=text"
            },
            {
              "name": "content",
              "value": "=Tudo bem, me informe novamente como posso ajudar com suas ordens de serviço?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1040,
        880
      ],
      "id": "2eddded0-c8fb-4718-b3eb-05e16064d9f9",
      "name": "Salva mensagem enviada pelo bot17"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "971608699376307",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').first().json.contacts[0].wa_id }}",
        "textBody": "=Ordem #{{ $json.number }} criada com sucesso!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -1040,
        496
      ],
      "id": "576bbdf3-5c40-4cd7-823c-b274ee665e20",
      "name": "Send message8",
      "webhookId": "e9489b06-d3b3-42b6-abe1-eee11930f885",
      "credentials": {
        "whatsAppApi": {
          "id": "wMu4rhmUiwnXSZYx",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "971608699376307",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').first().json.contacts[0].wa_id }}",
        "textBody": "=Tudo bem, me informe novamente como posso ajudar com suas ordens de serviço?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -1264,
        880
      ],
      "id": "8192ab40-6f28-4a12-a001-e257a7ae8da2",
      "name": "Send message9",
      "webhookId": "e9489b06-d3b3-42b6-abe1-eee11930f885",
      "credentials": {
        "whatsAppApi": {
          "id": "wMu4rhmUiwnXSZYx",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=message-{{ $('WhatsApp Trigger').first().json.contacts[0].wa_id }}",
        "value": "={{ JSON.stringify($('Converte resposta em JSON').item.json.content.payload) }}",
        "keyType": "string",
        "expire": true,
        "ttl": 120
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1104,
        1136
      ],
      "id": "b5ccfa5a-7a82-4554-8113-358fe8394b1d",
      "name": "Salvar em cache dados da ordem",
      "credentials": {
        "redis": {
          "id": "d5y1rCN22hjXcaZY",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "output",
        "key": "=message-{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1936,
        688
      ],
      "id": "aa1f26b0-d7c8-4d18-8034-23c7750b033d",
      "name": "Pegar no cache dados da ordem",
      "credentials": {
        "redis": {
          "id": "d5y1rCN22hjXcaZY",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('URL').first().json.url }}/api/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=authorization",
              "value": "=Bearer {{ $('Mapeia saida da autenticação').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contactId",
              "value": "={{ $('Mapeia saida da autenticação').item.json.contactId }}"
            },
            {
              "name": "direction",
              "value": "in"
            },
            {
              "name": "type",
              "value": "=text"
            },
            {
              "name": "content",
              "value": "=Confirma a criação dessa ordem ?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2448,
        944
      ],
      "id": "cc31df55-233f-4c3b-b093-95d398673c58",
      "name": "Salva mensagem enviada pelo bot13"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v25.0/971608699376307/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"={{ $('WhatsApp Trigger').first().json.contacts[0].wa_id}}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"Confirma a criação dessa ordem?\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"confirmarPOST\",\n            \"title\": \"Confirmar\"\n          }\n        },\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"cancelar\",\n            \"title\": \"Cancelar\"\n          }\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2224,
        944
      ],
      "id": "17aee51d-7ae8-436f-8464-43345c95b423",
      "name": "Confirmar Criação da Ordem",
      "credentials": {
        "httpBearerAuth": {
          "id": "nnTJ4QqJaFFDe4Hh",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('URL').first().json.url }}/api/order/n8n/{{ $('Mapeia saida da autenticação').item.json.contactId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $('Mapeia saida da autenticação').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1264,
        496
      ],
      "id": "0d6af709-e772-42a7-abaf-8d595fc85072",
      "name": "Criar Ordem de Serviço"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "971608699376307",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').first().json.contacts[0].wa_id }}",
        "textBody": "=Ordem #{{ $json.number }} atualizada com sucesso!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -1040,
        688
      ],
      "id": "3844cf42-293f-4037-b5e2-b3d2c2d117b1",
      "name": "Send message6",
      "webhookId": "e9489b06-d3b3-42b6-abe1-eee11930f885",
      "credentials": {
        "whatsAppApi": {
          "id": "wMu4rhmUiwnXSZYx",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('URL').first().json.url }}/api/order/n8n/{{ $('Mapeia saida da autenticação').item.json.contactId }}/{{ $json.output.number }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $('Mapeia saida da autenticação').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.output.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1264,
        688
      ],
      "id": "0c5550a1-2bda-4c0a-8233-1d582da538c8",
      "name": "Atualiza Ordem de Serviço"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('URL').first().json.url }}/api/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $('Mapeia saida da autenticação').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contactId",
              "value": "={{ $('Mapeia saida da autenticação').item.json.contactId }}"
            },
            {
              "name": "direction",
              "value": "in"
            },
            {
              "name": "type",
              "value": "=text"
            },
            {
              "name": "content",
              "value": "=Ordem #{{ $json.number }} atualizada com sucesso!"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -816,
        688
      ],
      "id": "a2c03dc0-1d76-4062-a73b-23df0faf7e6a",
      "name": "Salva mensagem enviada pelo bot11"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('URL').first().json.url }}/api/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=authorization",
              "value": "=Bearer {{ $('Mapeia saida da autenticação').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contactId",
              "value": "={{ $('Mapeia saida da autenticação').item.json.contactId }}"
            },
            {
              "name": "direction",
              "value": "in"
            },
            {
              "name": "type",
              "value": "=text"
            },
            {
              "name": "content",
              "value": "=Confirma a edição dessa ordem ?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2448,
        1328
      ],
      "id": "38687a4b-cc56-418d-b93b-7a826b1d23ae",
      "name": "Salva mensagem enviada pelo bot19"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "value": "={\n  \"token\": \"{{ $('Autenticação').item.json.token }}\",\n  \"contactId\": \"{{ $json.data[0].id }}\"\n}",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3056,
        832
      ],
      "id": "e946a2f0-3c0b-4457-a028-a78d554fed11",
      "name": "Salva contato em cache",
      "credentials": {
        "redis": {
          "id": "d5y1rCN22hjXcaZY",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('URL').first().json.url }}/api/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contactId",
              "value": "={{ $json.contactId }}"
            },
            {
              "name": "direction",
              "value": "out"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "content",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].interactive.button_reply.title }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2160,
        688
      ],
      "id": "4a8248f2-9a30-497b-a3ef-369e9603104b",
      "name": "Salva mensagem enviada pelo usuario1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('URL').first().json.url }}/api/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $('Mapeia saida da autenticação').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contactId",
              "value": "={{ $('Mapeia saida da autenticação').item.json.contactId }}"
            },
            {
              "name": "direction",
              "value": "in"
            },
            {
              "name": "type",
              "value": "=text"
            },
            {
              "name": "content",
              "value": "={{ $('Gerar resumo da criação da OS').item.json.resumo }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2000,
        944
      ],
      "id": "92feedfd-7cb4-4ab9-87e0-c70f6744061d",
      "name": "Salva mensagem enviada pelo bot8"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "971608699376307",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').first().json.contacts[0].wa_id }}",
        "textBody": "={{ $json.resumo }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1776,
        944
      ],
      "id": "561db342-9e4a-4765-93b7-3afb40ede5f8",
      "name": "Send message7",
      "webhookId": "e9489b06-d3b3-42b6-abe1-eee11930f885",
      "credentials": {
        "whatsAppApi": {
          "id": "wMu4rhmUiwnXSZYx",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v25.0/971608699376307/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"={{ $('WhatsApp Trigger').first().json.contacts[0].wa_id}}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"Confirma a edição dessa ordem?\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"confirmarPATCH\",\n            \"title\": \"Confirmar\"\n          }\n        },\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"cancelar\",\n            \"title\": \"Cancelar\"\n          }\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2224,
        1328
      ],
      "id": "7d6b2a9b-7b32-4814-b5c1-8d8a1033418d",
      "name": "Confirmar Edição da Ordem",
      "credentials": {
        "httpBearerAuth": {
          "id": "nnTJ4QqJaFFDe4Hh",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('URL').first().json.url }}/api/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $('Mapeia saida da autenticação').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contactId",
              "value": "={{ $('Mapeia saida da autenticação').item.json.contactId }}"
            },
            {
              "name": "direction",
              "value": "in"
            },
            {
              "name": "type",
              "value": "=text"
            },
            {
              "name": "content",
              "value": "={{ $('Gerar resumo da edição da OS').item.json.resumo }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2000,
        1328
      ],
      "id": "4c799b29-179a-4105-aca3-f94730663aac",
      "name": "Salva mensagem enviada pelo bot9"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "971608699376307",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').first().json.contacts[0].wa_id }}",
        "textBody": "={{ $json.resumo }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1776,
        1328
      ],
      "id": "566bd8ce-411f-4e2f-894a-bff5637ad80e",
      "name": "Send message10",
      "webhookId": "e9489b06-d3b3-42b6-abe1-eee11930f885",
      "credentials": {
        "whatsAppApi": {
          "id": "wMu4rhmUiwnXSZYx",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst payload = items[0].json.content.payload;\n\nconst number = payload.number ?? \"Não informado\";\nconst data = payload.data ?? {};\n\nconst statusMap = {\n  1: \"Aberta\",\n  2: \"Em andamento\",\n  3: \"Concluída\",\n  4: \"Cancelada\"\n};\n\nlet changes = [];\n\nif (data.client) {\n  changes.push(`👤 Cliente: ${data.client}`);\n}\n\nif (data.vehicle) {\n  changes.push(`🚗 Veículo: ${data.vehicle}`);\n}\n\nif (data.description) {\n  changes.push(`📝 Serviço: ${data.description}`);\n}\n\nif (data.status) {\n  changes.push(`📊 Status: ${statusMap[data.status] ?? data.status}`);\n}\n\nconst resumo = `Alteração na OS #${number}:\n\n${changes.join(\"\\n\")}`;\n\nreturn [\n  {\n    json: {\n      ...items,\n      resumo\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        1328
      ],
      "id": "fe205be2-d13d-46a6-ad77-936465ab0acf",
      "name": "Gerar resumo da edição da OS"
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all();\nconst payload = items[0].json.content.payload;\n\nconst client = payload.client ?? \"Não informado\";\nconst vehicle = payload.vehicle ?? \"Não informado\";\nconst description = payload.description ?? \"Não informado\";\n\nconst resumo = `Resumo da ordem:\n\n👤 Cliente: ${client}\n🚗 Veículo: ${vehicle}\n🛠️ Serviço: ${description}`;\n\nreturn [\n  {\n    json: {\n      ...items,\n      resumo\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        944
      ],
      "id": "3383bbd1-5119-4329-b6b4-8ae7f5d5b749",
      "name": "Gerar resumo da criação da OS"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst output = JSON.parse(items[0].json.output);\n\nreturn [\n  {\n    json: {\n      output\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1712,
        688
      ],
      "id": "734d8ac7-c446-4d87-9fca-408b22714629",
      "name": "Converte String em Json"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('URL').first().json.url }}/api/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contactId",
              "value": "={{ $json.contactId }}"
            },
            {
              "name": "direction",
              "value": "out"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "content",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1264,
        1120
      ],
      "id": "89ff9ad3-213f-43ab-bf3c-a5ee77353fe6",
      "name": "Salva mensagem enviada pelo usuario2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 100
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        320,
        1248
      ],
      "id": "36f49557-6125-43ef-b6e1-37a9c3e5aa6a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "acJXGARf4VHh47Tt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=openIA-{{ $json.contactId }}",
        "sessionTTL": 3600,
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        448,
        1248
      ],
      "id": "351da27b-3d65-42f8-973c-529c74b65e4f",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "d5y1rCN22hjXcaZY",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('WhatsApp Trigger').first().json.messages[0].type }}",
                    "rightValue": "interactive",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4932ea31-00f0-4a8c-8ccd-b5c05ee8e151"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "db54980e-d353-42f3-b6aa-1024e47cc6e2",
                    "leftValue": "={{ $('WhatsApp Trigger').first().json.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1ec818c5-17ea-4b16-bfe1-f018cb11d2b6",
                    "leftValue": "={{ $('WhatsApp Trigger').first().json.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2384,
        960
      ],
      "id": "7bddee69-9bb7-461d-ba38-f3531b88ce9e",
      "name": "Switch1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst contact = JSON.parse(items[0].json.contact);\n\nreturn [\n  {\n    json: {\n      contact\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4176,
        832
      ],
      "id": "ff8f4228-c6f9-44e4-b9ad-5719ab9d992a",
      "name": "Converte string do cache em json"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "contact",
        "key": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -4400,
        832
      ],
      "id": "02cc2077-67e1-408e-9999-ec03bc95c8f7",
      "name": "Pega contato em cache",
      "credentials": {
        "redis": {
          "id": "d5y1rCN22hjXcaZY",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ebbbb1fb-4e57-4296-89c6-5a4353f26752",
              "leftValue": "={{ $json.contact.token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3952,
        832
      ],
      "id": "f502c99a-c66a-4cc5-80b6-cbd49aa64e00",
      "name": "If2"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -5072,
        832
      ],
      "id": "1943051e-d607-4071-add1-60758fbd89ce",
      "name": "WhatsApp Trigger",
      "webhookId": "cf502643-ac7b-4a3e-b9aa-e662891b82a4",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "LHOZYBSzJftMBGXg",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dbd32109-3901-440a-9e5e-f47226e380f9",
              "name": "url",
              "value": "https://osupflow.moreiracode.com/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4624,
        832
      ],
      "id": "47a80d81-e9d5-4af1-8bde-c893ccdb767f",
      "name": "URL"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfor (const item of items) {\n  const parsed = JSON.parse(item.json.output);\n\n  item.json = {\n    ...item.json,\n    ...parsed,\n  };\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        1024
      ],
      "id": "43c2d995-57b8-42ba-ac86-e60fba21badc",
      "name": "Converte resposta em JSON"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=Você é o assistente conversacional do OS Upflow, um sistema de ordens de serviço para oficinas e autocenters operado exclusivamente via WhatsApp pela oficina.\nAs mensagens podem ser incompletas, não lineares ou misturar intenções. Identifique a intenção principal e use sempre o contexto recente antes de pedir novos dados. Intenções reconhecidas: criar OS, consultar OS, atualizar OS, responder dúvidas operacionais simples.\nSe houver ambiguidade entre múltiplas OS, peça somente um identificador (ex.: placa ou número da OS). Nunca crie uma nova OS automaticamente se houver uma claramente relacionada. Você não fala com clientes finais, não trata financeiro, estoque, orçamento ou usuários, e não explica funcionamento interno do sistema.\nIMPORTANTE: Retorne exclusivamente JSON puro. Nunca use markdown, blocos de código ou qualquer texto fora do JSON:\n{\"target\": \"user\" | \"backend\", \"content\": {}}\nUse \"target\": \"user\" para responder ou pedir esclarecimento com content: <mensagem>.\nUse \"target\": \"backend\" quando houver ação clara, com content:\n{\"action\": \"create\" | \"read\" | \"update\", \"payload\": {}}\ncreate: payload = {...campos}\nread: payload = {...campos de busca || all: \"*\"}\nupdate: payload = {\"number\":<numero_os>,\"data\":{...campos}}}}\nEstrutura da OS:\nnumber\nstatus - 1: Aberta |  2: Em andamento |  3: Concluída |  4: Cancelada\nclient\nvehicle\ndescription\nEstrutura mínima da OS:\nclient\nvehicle\ndescription\nEm caso de dúvida, responda com \"target\": \"user\" pedindo esclarecimento curto e natural."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        304,
        1024
      ],
      "id": "6e476203-8761-49b6-9d98-5b70d26fa2ce",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('WhatsApp Trigger').item.json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -2160,
        1216
      ],
      "id": "6e5778cf-553a-412a-9837-5f0de9e8cb28",
      "name": "Download media",
      "webhookId": "71abe05d-610c-4cce-b710-2576ceba3da4",
      "credentials": {
        "whatsAppApi": {
          "id": "wMu4rhmUiwnXSZYx",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1936,
        1216
      ],
      "id": "89945656-8afe-4083-ab06-cc13648284fb",
      "name": "Baixa o audio",
      "credentials": {
        "whatsAppApi": {
          "id": "wMu4rhmUiwnXSZYx",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "pt"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -1712,
        1216
      ],
      "id": "1b9ec5fd-373a-4763-9129-d059a0a3a73a",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "acJXGARf4VHh47Tt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae1d93b9-d00a-4115-a2ac-5876ed210c4c",
              "name": "text",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "90ef412c-eef5-412a-a937-737fb55be3a9",
              "name": "token",
              "value": "={{ $json.token }}",
              "type": "string"
            },
            {
              "id": "dabfb4be-a830-4983-a205-16aacec26bbe",
              "name": "contactId",
              "value": "={{ $json.contactId }}",
              "type": "string"
            },
            {
              "id": "f8bf0198-59f9-42bc-9b0b-fa6882d93057",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1488,
        1024
      ],
      "id": "501f24ba-7ced-485a-a7eb-ae90dfbac70a",
      "name": "Mapeia saida"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae1d93b9-d00a-4115-a2ac-5876ed210c4c",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "90ef412c-eef5-412a-a937-737fb55be3a9",
              "name": "token",
              "value": "={{ $('Mapeia saida da autenticação').item.json.token }}",
              "type": "string"
            },
            {
              "id": "dabfb4be-a830-4983-a205-16aacec26bbe",
              "name": "contactId",
              "value": "={{ $('Mapeia saida da autenticação').item.json.contactId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1488,
        1216
      ],
      "id": "9628ae3a-35b9-4200-bfb4-1f3f201c072b",
      "name": "Mapeia saida do audio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('URL').first().json.url }}/api/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $('Mapeia saida da autenticação').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contactId",
              "value": "={{ $('Mapeia saida da autenticação').item.json.contactId }}"
            },
            {
              "name": "direction",
              "value": "in"
            },
            {
              "name": "type",
              "value": "=text"
            },
            {
              "name": "content",
              "value": "={{ $('Switch entre user e backend').item.json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1328,
        928
      ],
      "id": "9d47a14e-7e9c-4014-a5af-c16077cb80e4",
      "name": "Salva mensagem enviada pelo bot1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db62fc09-6523-48fc-b3a1-0986f9448b88",
              "name": "=token",
              "value": "={{ $('Autenticação').item.json.token }}",
              "type": "string"
            },
            {
              "id": "a020bb75-5bc1-4d7d-bb34-4612512c60d9",
              "name": "",
              "value": "",
              "type": "string"
            },
            {
              "id": "16b45a79-b72e-4034-aff5-5c9cd2f85d4b",
              "name": "contactId",
              "value": "={{ $json.data[0].id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2832,
        832
      ],
      "id": "f908bbb7-5b30-4df9-b997-dffaccf76e33",
      "name": "Mapeia saida sem cache"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db62fc09-6523-48fc-b3a1-0986f9448b88",
              "name": "=token",
              "value": "={{ $('Converte string do cache em json').item.json.contact.token }}",
              "type": "string"
            },
            {
              "id": "a020bb75-5bc1-4d7d-bb34-4612512c60d9",
              "name": "",
              "value": "",
              "type": "string"
            },
            {
              "id": "16b45a79-b72e-4034-aff5-5c9cd2f85d4b",
              "name": "contactId",
              "value": "={{ $('Converte string do cache em json').item.json.contact.contactId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2832,
        1024
      ],
      "id": "1525c851-d554-4d54-ab3f-f33dc932362a",
      "name": "Mapeia saida com cache"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db62fc09-6523-48fc-b3a1-0986f9448b88",
              "name": "=token",
              "value": "={{ $json.token }}",
              "type": "string"
            },
            {
              "id": "a020bb75-5bc1-4d7d-bb34-4612512c60d9",
              "name": "",
              "value": "",
              "type": "string"
            },
            {
              "id": "16b45a79-b72e-4034-aff5-5c9cd2f85d4b",
              "name": "contactId",
              "value": "={{ $json.contactId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2608,
        976
      ],
      "id": "e0ef9900-5b8a-49c7-9126-111257566845",
      "name": "Mapeia saida da autenticação"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -816,
        1120
      ],
      "id": "0b2e2c3e-de50-4703-9d0b-faf81214dec7",
      "name": "Wait",
      "webhookId": "14be1bad-0872-4de5-8cce-91b17575a211"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a749dc3b-6343-440c-af54-f53fa64651bf",
              "leftValue": "={{ $json.messages.last() }}",
              "rightValue": "={{ $('Wait').item.json.content }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -368,
        1120
      ],
      "id": "8b85c05c-f153-4f2e-8024-c929b678b6e9",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=list-{{ $json.contactId }}",
        "messageData": "={{ $json.content }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1040,
        1120
      ],
      "id": "e3a4c3ad-cdc6-4a98-ad8e-d3e12afa6a89",
      "name": "Salva mensagem na lista de mensagens",
      "credentials": {
        "redis": {
          "id": "d5y1rCN22hjXcaZY",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "=list-{{ $json.contactId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -592,
        1120
      ],
      "id": "7ca33836-2422-486b-a746-c1fdd9677f20",
      "name": "Pega lista de mensagens",
      "credentials": {
        "redis": {
          "id": "d5y1rCN22hjXcaZY",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -144,
        1216
      ],
      "id": "96565812-f3ee-472b-82d0-c78ec0b5d9a1",
      "name": "Ignora"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2b78aba-aa58-4bbd-a9bb-8eb9a52d7294",
              "name": "message",
              "value": "={{ $json.messages.join(\" \") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        1024
      ],
      "id": "1d72c322-2687-455a-aaad-c19579321525",
      "name": "Agrupa mensagens"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=list-{{ $('Wait').item.json.contactId }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        80,
        1024
      ],
      "id": "7293e218-f99a-48ee-a707-3e4e9bf2f854",
      "name": "Deleta lista de mensagens",
      "credentials": {
        "redis": {
          "id": "d5y1rCN22hjXcaZY",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b7c3e1bc-512f-48ec-b239-fefbd2375a01",
              "leftValue": "={{ $json.messages }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4848,
        832
      ],
      "id": "1f26e122-f534-4bf0-98ff-a689e485b94b",
      "name": "If3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -4624,
        1024
      ],
      "id": "6ae3a3eb-0d17-4850-8729-6cd1afabecf8",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "wa_id_error",
        "value": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -4624,
        640
      ],
      "id": "993036e8-a280-4c71-85ad-90bdb891c2f1",
      "name": "Salva wa_id para erros",
      "credentials": {
        "redis": {
          "id": "d5y1rCN22hjXcaZY",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -5072,
        1552
      ],
      "id": "c8e92580-fbfc-48ef-ac52-0f1a7deff67a",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "971608699376307",
        "recipientPhoneNumber": "={{ $json.wa_id }}",
        "textBody": "Identificamos uma instabilidade temporária no sistema. Nossa equipe já está trabalhando para normalizar o serviço. Por favor, tente novamente mais tarde.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -4624,
        1552
      ],
      "id": "8d00660b-f1fd-4251-86bb-9eae43c348b3",
      "name": "Send message1",
      "webhookId": "e9489b06-d3b3-42b6-abe1-eee11930f885",
      "credentials": {
        "whatsAppApi": {
          "id": "wMu4rhmUiwnXSZYx",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "wa_id",
        "key": "wa_id_error",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -4848,
        1552
      ],
      "id": "3f020359-f3ea-4ec9-9099-02a91d829c50",
      "name": "Pega wa_id",
      "credentials": {
        "redis": {
          "id": "d5y1rCN22hjXcaZY",
          "name": "Redis account"
        }
      }
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Salva contato em cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch entre user e backend": {
      "main": [
        [
          {
            "node": "Send message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Salvar em cache dados da ordem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch entre verbos": {
      "main": [
        [
          {
            "node": "Gerar resumo da criação da OS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Converte json em keys e values",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gerar resumo da edição da OS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca ordens": {
      "main": [
        [
          {
            "node": "Converte saída das ordens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converte json em keys e values": {
      "main": [
        [
          {
            "node": "Busca ordens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converte saída das ordens": {
      "main": [
        [
          {
            "node": "Send message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Autenticação": {
      "main": [
        [
          {
            "node": "Busca contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca contato": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message2": {
      "main": [
        [
          {
            "node": "Salva mensagem enviada pelo bot1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message5": {
      "main": [
        [
          {
            "node": "Salva mensagem enviada pelo bot7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Criar Ordem de Serviço",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualiza Ordem de Serviço",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message8": {
      "main": [
        [
          {
            "node": "Salva mensagem enviada pelo bot16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message9": {
      "main": [
        [
          {
            "node": "Salva mensagem enviada pelo bot17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar em cache dados da ordem": {
      "main": [
        [
          {
            "node": "Switch entre verbos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pegar no cache dados da ordem": {
      "main": [
        [
          {
            "node": "Converte String em Json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar Criação da Ordem": {
      "main": [
        [
          {
            "node": "Salva mensagem enviada pelo bot13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Ordem de Serviço": {
      "main": [
        [
          {
            "node": "Send message8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message6": {
      "main": [
        [
          {
            "node": "Salva mensagem enviada pelo bot11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Ordem de Serviço": {
      "main": [
        [
          {
            "node": "Send message6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva contato em cache": {
      "main": [
        [
          {
            "node": "Mapeia saida sem cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva mensagem enviada pelo usuario1": {
      "main": [
        [
          {
            "node": "Pegar no cache dados da ordem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva mensagem enviada pelo bot8": {
      "main": [
        [
          {
            "node": "Confirmar Criação da Ordem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message7": {
      "main": [
        [
          {
            "node": "Salva mensagem enviada pelo bot8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar Edição da Ordem": {
      "main": [
        [
          {
            "node": "Salva mensagem enviada pelo bot19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva mensagem enviada pelo bot9": {
      "main": [
        [
          {
            "node": "Confirmar Edição da Ordem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message10": {
      "main": [
        [
          {
            "node": "Salva mensagem enviada pelo bot9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar resumo da edição da OS": {
      "main": [
        [
          {
            "node": "Send message10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar resumo da criação da OS": {
      "main": [
        [
          {
            "node": "Send message7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converte String em Json": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva mensagem enviada pelo usuario2": {
      "main": [
        [
          {
            "node": "Salva mensagem na lista de mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Salva mensagem enviada pelo usuario1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mapeia saida",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converte string do cache em json": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega contato em cache": {
      "main": [
        [
          {
            "node": "Converte string do cache em json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Autenticação",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mapeia saida com cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL": {
      "main": [
        [
          {
            "node": "Pega contato em cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converte resposta em JSON": {
      "main": [
        [
          {
            "node": "Switch entre user e backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Converte resposta em JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download media": {
      "main": [
        [
          {
            "node": "Baixa o audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixa o audio": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Mapeia saida do audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapeia saida": {
      "main": [
        [
          {
            "node": "Salva mensagem enviada pelo usuario2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapeia saida do audio": {
      "main": [
        [
          {
            "node": "Salva mensagem enviada pelo usuario2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapeia saida sem cache": {
      "main": [
        [
          {
            "node": "Mapeia saida da autenticação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapeia saida com cache": {
      "main": [
        [
          {
            "node": "Mapeia saida da autenticação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapeia saida da autenticação": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Pega lista de mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Agrupa mensagens",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva mensagem na lista de mensagens": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega lista de mensagens": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupa mensagens": {
      "main": [
        [
          {
            "node": "Deleta lista de mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deleta lista de mensagens": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "URL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salva wa_id para erros",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Pega wa_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega wa_id": {
      "main": [
        [
          {
            "node": "Send message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "312d2d7b545483d7ddc7ee7fafd6abf3b0e147df6a7714eac25f75258f1a7f58"
  }
}